[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools-scm = "*"
mypy = "*"
pydocstyle = "*"
pre-commit = "*"
django-stubs = "*"

[packages]
ndh = "*"

[requires]
python_version = "3.8"
