<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: {{ votes.0 }}%">
    <span class="sr-only">{{ votes.0 }}%</span>
  </div>
  <div class="progress-bar progress-bar-success progress-bar-striped" style="width: {{ votes.1 }}%">
    <span class="sr-only">{{ votes.1 }}%</span>
  </div>
  <div class="progress-bar progress-bar-info" style="width: {{ votes.2 }}%">
    <span class="sr-only">{{ votes.2 }}%</span>
  </div>
  <div class="progress-bar progress-bar-info progress-bar-striped" style="width: {{ votes.3 }}%">
    <span class="sr-only">{{ votes.3 }}%</span>
  </div>
  <div class="progress-bar progress-bar-warning" style="width: {{ votes.4 }}%">
    <span class="sr-only">{{ votes.4 }}%/span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: {{ votes.5 }}%">
    <span class="sr-only">{{ votes.5 }}%/span>
  </div>
</div>
