{% extends "base.html" %}
{% load jugemaj %}

{% block content %}
<h1>{{ election }}</h1>

<p>{{ election.description }}</p>

<div>
  {% for candidate in election.results %}
  <div class="container"><div class="row">
    <div class="col-md-6">{% include "jugemaj/bar.html" %}</div>
    <div class="col-md-1"><a class="btn btn-primary" href="{% url "jugemaj:vote" pk=candidate|vote:request %}">voter</a></div>
    <div class="col-md-5"><b>{{ candidate }}</b> ({{ candidate.vote_set.count }} vote{{ candidate.vote_set.count|pluralize }})</div>
  </div></div>
  {% endfor %}
</div>

<p class="text-center">
<a class="btn btn-info" href="{% url "jugemaj:create_candidate" slug=election.slug %}">Nouveau Candidat</a>
</p>

{% endblock %}
